# Ambiente virtual
venv/
.env/

# Arquivos temporários do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Arquivos de log
*.log

# Arquivos de cache e pacotes
*.egg-info/
*.egg
*.bak
*.tmp
.cache/
pip-wheel-metadata/

# Arquivos de notebook (se existirem)
*.ipynb_checkpoints

# Sistema operacional
.DS_Store
Thumbs.db

# HTML Live Server (VS Code)
.vscode/
LiveServer.log

# Arquivos CSV gerados
custom_postoperative_faq.csv
